* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start; /* Content starts at the top */
    align-items: center;
    background-color: #424141;
}

.container {
    text-align: center;
    flex-grow: 1; /* Allow container to grow and take available space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #bdb7b7;
    animation: fadeIn 1s ease-out;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFD700;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1;
}

.menu-btn {
    position: absolute;
    padding: 10px 15px;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFD700;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 10;
}

#pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 100;
    display: none;
}

.btn:hover {
    background-color: #840595;
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FFD700;
    border-radius: 50%;
    transform: translateX(-50%, -50%); 
    /* z-index: -1; */
}

.hidden {
    display: none;
}

/* Footer Styling */
footer {
    text-align: center;
    font-size: 0.8rem; /* Smaller text size */
    color: #777; /* Light grey color */
    width: 100%;
    padding: 20px 0;
    /* background-color: #424141; Dark background */
    color: #bdb7b7;
    position: relative;
    bottom: 0;
}
